name: Contracts CI

on: 
    pull_request:
    paths:
    - "contracts/**"
    - "Cargo.toml"
    - "Cargo.lock"

jobs:
    test_contracts: 
    runs-on: ubuntu-latest

steps: 
   - name: checkout repo
     uses: actions/checkout@v4

   - name: Install Rust
     uses: actions-rs/toolchain@v1

     with:
          toolchain: stable
          override: true

   - name: Install Stellar cli
     uses: stellar/actions/soroban-cli@v1

   - name: Cache Cargo 
     uses: actions/cache@v4

     with:
          path: |
            ~/.cargo/registry
            ~/.cargo/git
            target
          key: cargo-${{ runner.os }}-${{ hashFiles('**/Cargo.lock') }}

   - name: Run contract tests
     working-directory: contracts
     run: cargo test --all

